.fade-enter {
  opacity: 0;
  z-index: 1;
  transform: translateX(-100px);
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 250ms ease-in, transform 250ms ease-in;
}
.fade-exit {
  transform: translateX(0);
  opacity: 1;
}
.fade-exit.fade-exit-active {
  transform: translateX(100px);
  opacity: 0;
  transition: opacity 250ms ease-in, transform 250ms ease-in;
}
